<div class="container" style="margin-top:100px">

  <h1>Create Venue</h1>
  <%= simple_form_for @venue do |f| %>
    <%= f.input :name,  class: 'form-control'%>
    <%= f.input :full_address,  class: 'form-control'%>

    <%= f.submit "Create Venue", class: 'btn btn-primary' %>
  <% end %>
</div>
